@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.animate-fade-in-out {
  animation: fadeInOut 2s ease-in-out forwards;
}